@media only screen and (max-width: 768px) {
  #phrase-index {
    float: center;
    text-align: center;
    margin: auto;
    font-size: 0.9em;
  }

  .img-pakua {
    width: 100%;
    margin: 2%;
  }

  .pakua-pf {
    width: 100%;
  }
}
.me, .myblog, .myindex {
  width: 15%;
  height: auto;
  margin: 0;
  padding: 1% 2%;
  background-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  font-style: italic;
}
@media only screen and (orientation: portrait) {
  .me, .myblog, .myindex {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .me, .myblog, .myindex {
    display: block;
  }
}

#phrase-index {
  width: 30%;
  height: 20%;
  background-color: transparent;
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-weight: 700;
}
@media only screen and (orientation: portrait) {
  #phrase-index {
    float: right;
    margin: 20% 35%;
    size: 1.5rem;
    color: whitesmoke;
  }
}
@media only screen and (orientation: landscape) {
  #phrase-index {
    size: 0.8rem;
    margin: 5% auto;
    padding: 0 1% 15% 1%;
    float: left;
    color: #e0d359;
  }
}

.top {
  width: 96%;
  height: 25%;
}

.main, #blog, #index {
  margin: 0 1%;
  padding: 0 1%;
  height: 100vh;
  background-color: gainsboro;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: center;
}

#index {
  /*index page -- pagina de inicio*/
  background-image: url(../images/pexels-photo-tiger.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
#index footer {
  top: 92%;
  bottom: 0;
}

#blog footer {
  bottom: auto;
}

.mynavg {
  float: right;
  margin: 1% 0;
}

.myindex {
  color: #fafbfc;
}

.myblog {
  color: black;
}

h1 {
  text-decoration: underline;
  text-align: center;
}

.img-0 {
  margin: auto;
  padding: 0;
  border-radius: 50%;
  float: center;
  width: 60%;
}

.img-pakua {
  width: 100%;
  float: right;
  margin: 2%;
}

.pakua-pf {
  width: 80%;
}

.myborder-table {
  border: grey 1px solid;
  padding: 1% 0 0 0;
}

#xuxing {
  margin: 2% auto;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}
#xuxing td, #xuxing th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#xuxing tr:nth-child(even) {
  background-color: #f2f2f2;
}
#xuxing th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.first {
  font-weight: bold;
}

footer {
  position: absolute;
  width: 96%;
  margin: 0;
  height: 8%;
  background-color: #999;
}
footer .copyright {
  text-align: center;
}