<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link  rel = "icon"  type = "image / png"  size = "16x16"  href = "../images/PakuaTitle.png" >
    <title  >Gottig Javier</title>
</head>
<body id="index">

    <div class="container">
        <nav class="mynavg navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Guerrero Mental</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="pakua-es.html">Pa-Kua</a></li>
                    <li class="nav-item"><a class="nav-link" href="wuxing-es.html">Wuxing</a></li>
                    <li class="nav-item"><a class="nav-link" href="marcial-es.html">Marcial</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          Idiomas
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="../index.html">Inglés</a>
                          <a class="dropdown-item" href="#">Español</a>
                        </div>
                      </li>
                </ul>
            </div>
        </nav>
    </div>



    <div class="me">
                
            <img class="img-0" src="../images/fotocurric1.jpg" alt="Foto Javier"> 
           <p class="myindex text-nowrap">
                Javier Gottig
           </p> 
    
    </div>
    <div id="phrase-index">
        <p>Si el miedo te guía, el único resultado posible es el fracaso.</p>
        <p>Si el amor te guía, ¿qué importa el resultado?</p>
    </div>
    <footer>
        <div class="copyright">
            <p>Gottmark - &copy 2020</p>
        </div>
    </footer>
</body>
</html>