<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link  rel = "icon"  type = "image / png"  size = "16x16"  href = "../images/PakuaTitle.png" >
    <title  >Gottig Javier</title>
</head>

<body id="blog">
    <div class="top">
        <div class="container">
            <nav class="mynavg navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Guerrero Mental</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="index-es.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="pakua-es.html">Pa-Kua</a></li>
                        <li class="nav-item"><a class="nav-link" href="wuxing-es.html">Wuxing</a></li>
                        <li class="nav-item"><a class="nav-link" href="marcial-es.html">Marcial</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Idiomas
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="martial.html">Inglés</a>
                                <a class="dropdown-item" href="#">Español</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        


            <div class="me">            
                <img class="img-0" src="../images/fotocurric1.jpg" alt="Foto Javier"> 
                <p class="myblog text-nowrap">Javier Gottig</p>
            </div>
        </div> 
    </div>
    <h1>Arte Marcial.</h1>
    <br><br>
    <div class="row">
        <div class="col">
            <p>
                Pakua, como arte marcial, se basa en los ocho estados de cambio y 
                en los cinco tipos de Chi que dominan en diferentes momentos.
            </p>
            <p>Es una de las Artes Marciales más completas del mundo, porque abarca un enorme abanico de 
                técnicas de combate (golpes de pie, de mano, de codos y de rodillas, lances, palancas, 
                torsiones, retenciones, ahorques y sometimientos) en un marco no competitivo, 
                de respeto y disciplina.
            </p>
            <p>
                En nuestras clases los alumnos no se lastiman ni se golpean innecesariamente. Pero aprenden 
                a defenderse de forma implacable, efectiva y letal. En el Arte Marcial Pa-Kua el conocimiento 
                y la técnica superan la fuerza bruta y la violencia. Nuestros Instructores y 
                Maestros son formadores de carácter y de personas con disciplina y fortaleza mental.
            </p>
            <p>
                Inicialmente el alumno aprende técnicas lineales simples para la autodefensa. En sus niveles 
                más avanzados se incorporan las técnicas circulares características de Pa-Kua, que le permiten 
                al practicante enfrentarse eficazmente contra oponentes más fuertes y grandes, incluso 
                si son más de uno.
            </p>
            <p>Leer más: 
                <a href="https://www.pakua.com" target="_blank">Pakua.com</a>
                </p>
        </div>
        <div class="col">
            <img class="img-pakua" src="/images/imagep.jpeg" alt="Foto Pakua">
        </div>
    </div>
    <footer>
        <div class="copyright">
            <p>Gottmark - &copy 2020</p>
        </div>
    </footer>
</body>
</html>