<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link  rel = "icon"  type = "image / png"  size = "16x16"  href = "../images/PakuaTitle.png" >
    <title  >Gottig Javier</title>
</head>

<body id="blog">
    <div class="top">
        <div class="container">
            <nav class="mynavg navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Mental Warrior</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="pakua.html">Pa-Kua</a></li>
                        <li class="nav-item"><a class="nav-link" href="wuxing.html">Wuxing</a></li>
                        <li class="nav-item"><a class="nav-link" href="martial.html">Martial</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Languages
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="/templates/pakua-es.html">Spanish</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        
        
            <div class="me">            
                <img class="img-0" src="../images/fotocurric1.jpg" alt="Foto Javier"> 
                <p class="myblog text-nowrap">Javier Gottig</p>
            </div>
        </div> 
    </div>
            <h1>Pa-Kua and Wuxing.</h1>
            <p class="text-center"><strong>In martial art, both the eight states of change (Pa-Kua) and the five elements
                (Wuxing) are used as combat patterns as for opponent profiles. 
            </strong></p>
        <br><br>
        <h2>Pa-Kua as Pattern</h2>
        <p>The translation of the Chinese words, Pa means ‘eight’, and Kua ‘mutations’,
            ’transformations’ or ‘changes’. Each of the eight states of change is represented
            with three lines, and can be unbroken or broken, yang or yin (⚊ or ⚋).
            According to legend, it was the mythical chinese emperor Fu-Hi who saw the existence of
            similarities between the marks inscribed on the shell of a turtle on the shore
            of the Yellow River and the constellations of the sky. From this observation,
            created the eight trigrams, which govern the universal laws, the order of the world,
            the phenomena of nature, and the human being. Each trigram is in relation
            with one of the eight cardinal points.
        </p>
        <p>
            There are many ways to order trigrams.
            Here we will show the form of opposites faced and the familiar pattern. 
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Following clockwise:</p>
            <div class="row">
                <div class="col myborder-table">
                    <div class="row">
                        <div class="col">
                            <h5><u>Opposite Faces.</u></h5>
                                <ul>
                                    <li>CH'IEN: Sky - Father</li>
                                    <li>SUN: Wind - Eldest Daughter</li>
                                    <li>K'AN: Water - Middle Son</li>
                                    <li>KEN: Mountain - Younger Son</li>
                                    <li>K'UN: Earth - Mother</li>
                                    <li>CHEN: Thunder - Eldest Son</li>
                                    <li>LI: Fire - Middle Daughter</li>
                                    <li>TUI: Lake - Younger Daughter</li>
                                </ul>
                        </div>
                        <div class="col">    
                            <img class="pakua-pf" src="/images/Pakua-patronF.png" alt="Foto Pakua">
                        </div>
                    </div>
                </div>
                <div class="col myborder-table">
                    <div class="row">
                        <div class="col">
                            <h5><u>Family Pattern.</u></h5>
                            <ul>
                                <li>CH'IEN: Father - Sky</li>
                                <li>K'UN: Mother - Earth</li>
                                <li>CHEN: Eldest Son - Thunder</li>
                                <li>SUN: Eldest Daughter - Wind</li>
                                <li>K'AN: Middle Son - Water</li>
                                <li>LI: Middle Daughter - Fire</li>
                                <li>KEN: Younger Son - Mountain</li>                        
                                <li>TUI:Younger Daughter - Lake</li>
                            </ul>
                        </div>
                        <div class="col">    
                            <img class="pakua-pf" src="/images/Pakua-patronO.png" alt="Pakua">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    
    <footer>
        <div class="copyright">
            <p>Gottmark - &copy 2020</p>
        </div>
    </footer>
</body>
</html>