<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link  rel = "icon"  type = "image / png"  size = "16x16"  href = "../images/PakuaTitle.png" >
    <title  >Gottig Javier</title>
</head>

<body id="blog">
    <div class="top">
        <div class="container">
            <nav class="mynavg navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Guerrero Mental</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="index-es.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="pakua-es.html">Pa-Kua</a></li>
                        <li class="nav-item"><a class="nav-link" href="wuxing-es.html">Wuxing</a></li>
                        <li class="nav-item"><a class="nav-link" href="marcial-es.html">Marcial</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Idiomas
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="pakua.html">Inglés</a>
                                <a class="dropdown-item" href="#">Español</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        
        
            <div class="me">            
                <img class="img-0" src="../images/fotocurric1.jpg" alt="Foto Javier"> 
                <p class="myblog text-nowrap">Javier Gottig</p>
            </div>
        </div> 
    </div>
    <div>
        <h1>Pa-Kua y Wuxing.</h1>
        <p class="text-center">
            <strong>En el arte marcial, tanto los ocho estados de cambio (Pa-Kua) como los cinco elementos 
                (Wuxing) se utilizan
                como patrones de combate como para perfiles de oponentes. 
            </strong>
        </p>
        <br><br>
        <h2>Pa-Kua como Patrón</h2>
        <p>La traducción de los vocablos chinos, pa significa ‘ocho’, y kua ‘mutaciones’, 
            ’transformaciones’ o ‘cambios’. Cada uno de los ocho estados de cambio se representa 
            con tres líneas, pudiendo ser completas o cortadas, yang o yin (⚊ o ⚋). 
            Según la leyenda, fue el mítico emperador chino Fu-Hi quien vio la existencia de 
            similitudes entre las marcas inscritas en el caparazón de una tortuga a orillas 
            del río Amarillo y las constelaciones del cielo. A partir de dicha observación, 
            creó los ocho trigramas, que rigen las leyes universales, el orden del mundo, 
            los fenómenos de la naturaleza, y al ser humano. Cada trigrama está en relación 
            con uno de los ocho puntos cardinales.
        </p>
        <p>
            Hay muchas maneras de ordenar los trigramas. Aquí veremos la forma de opuestos
            enfrentados y el patrón familiar. 
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Siguiendo el sentido del reloj:</p>
            <div class="row">
                <div class="col myborder-table">
                    <div class="row">
                        <div class="col">
                            <h5><u>Opuestos Enfrentados</u></h5>
                                <ul>
                                    <li>CH'IEN: Cielo - Padre</li>
                                    <li>SUN: Viento - Hija Mayor</li>
                                    <li>K'AN: Agua - Hijo del Medio</li>
                                    <li>KEN: Montaña - Hijo Menor</li>
                                    <li>K'UN: Tierra - Madre</li>
                                    <li>CHEN: Trueno - Hijo Mayor</li>
                                    <li>LI: Fuego - Hija del Medio</li>
                                    <li>TUI: Lago - Hija Menor</li>
                                </ul>
                        </div>
                        <div class="col">    
                            <img class="pakua-pf" src="/images/Pakua-patronF.png" alt="Pakua">
                        </div>
                    </div>
                </div>
                <div class="col myborder-table">
                    <div class="row">
                        <div class="col">
                            <h5><u>Patrón Familiar</u></h5>
                            <ul>
                                <li>CH'IEN: Padre - Cielo</li>
                                <li>K'UN: Madre - Tierra</li>
                                <li>CHEN: Hijo Mayor - Trueno</li>
                                <li>SUN: Hija Mayor - Viento</li>
                                <li>K'AN: Hijo del Medio - Agua</li>
                                <li>LI: Hija del Medio - Fuego</li>
                                <li>KEN: Hijo Menor - Montaña</li>                        
                                <li>TUI: Hija Menor - Lago</li>
                            </ul>
                        </div>
                        <div class="col">    
                            <img class="pakua-pf" src="/images/Pakua-patronO.png" alt="Pakua">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="copyright">
            <p>Gottmark - &copy 2020</p>
        </div>
    </footer>
</body>
</html>