<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link  rel = "icon"  type = "image / png"  size = "16x16"  href = "../images/PakuaTitle.png" >
    <title  >Gottig Javier</title>
</head>

<body id="blog">
    <div class="top">
        <div class="container">
            <nav class="mynavg navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Mental Warrior</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="pakua.html">Pa-Kua</a></li>
                        <li class="nav-item"><a class="nav-link" href="wuxing.html">Wuxing</a></li>
                        <li class="nav-item"><a class="nav-link" href="martial.html">Martial</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Languages
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">English</a>
                                <a class="dropdown-item" href="/templates/wuxing-es.html">Spanish</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        
        
            <div class="me">            
                <img class="img-0" src="../images/fotocurric1.jpg" alt="Foto Javier"> 
                <p class="myblog text-nowrap">Javier Gottig</p>
            </div>
        </div> 
    </div>
    <div>
            <h1>Pa-Kua and Wuxing.</h1>
            <p class="text-center">
                <strong>In martial art, both the eight states of change (Pa-Kua) and the five elements
                    (Wuxing) are used as combat patterns as for opponent profiles. 
                </strong>
            </p>
        
            <br><br>
    <div>
        <h2>Wuxing</h2>
        <p>The wuxing, also known as the Five Elements, Five Agents, Five Movements, Five Phases, 
            Five Planets,Five Processes, Five Stages, Five Steps, or Five Ways, 
            is the short form of "the five types of chi dominating at different times". 
            It is a fivefold conceptual scheme that many traditional Chinese fields used to explain 
            a wide array of phenomena, from cosmic cycles to the interaction between internal organs, 
            and from the succession of political regimes to the properties of medicinal drugs. 
            The "Five Phases" are Fire, Water, Wood, Metal and Earth. 
            This order of presentation is known as the "Days of the Week" sequence. 
            In the order of "mutual generation", they are Wood, Fire, Earth, Metal, and Water. 
            In the order of "mutual overcoming", they are Wood, Earth, Water, Fire, and Metal.
        </p>
        <p>The system of five phases was used for describing interactions and relationships between 
            phenomena. After it came to maturity in the second or first century BC during the Han 
            dynasty, this device was employed in many fields of early Chinese thought, including 
            seemingly disparate fields such as geomancy or feng shui, astrology, traditional Chinese 
            medicine, music, military strategy, and martial arts. 
            The system is still used as a reference in some forms of complementary and alternative medicine 
            and martial arts.
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <h4> Cycles </h4>
            <p>The common memory jogs, which help to remind in what order the phases are: </p>
            <div class="row">
                <div class="col myborder-table">
                    <h5><u>Generating</u></h5>
                        <ul>
                            <li>Wood feeds Fire</li>
                            <li>Fire creates Earth (ash)</li>
                            <li>Earth bears Metal</li>
                            <li>Metal collects Water</li>
                            <li>Water nourishes Wood</li>
                        </ul>
                <p>Other common words for this cycle include "begets", "engenders" and "mothers".</p>
            </div>
                <div class="col myborder-table">
                    <h5><u>Overcoming</u></h5>
                    <ul>
                        <li>Wood parts Earth (such as roots or trees can prevent soil erosion)</li>
                        <li>Earth dams (or muddies or absorbs) Water</li>
                        <li>Water extinguishes Fire</li>
                        <li>Fire melts Metal</li>
                        <li>Metal chops Wood</li>
                    </ul>
                
                    <p>This cycle might also be called "controls", "restrains" or "fathers".</p></div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table id="xuxing">
            <tr>
                <th>Elements</th>
                <th>Mental Qualities</th>
                <th>Emotions</th>
            </tr>
            <tr>
                <td class="first">Wood</td>
                <td>idealism, spontaneity, curiosity</td>
                <td>anger, kindness</td>
            </tr>
            <tr>
                <td class="first">Fire</td>
                <td>passion, intensity</td>
                <td>hate, resolve</td>
            </tr>
            <tr>
                <td class="first">Earth</td>
                <td>agreeableness, honesty</td>
                <td>anxiety, joy</td>
            </tr>
            <tr>
                <td class="first">Metal</td>
                <td>intuition, rationality, mind</td>
                <td>grief, bravery</td>
            </tr>
            <tr>
                <td class="first">Water</td>
                <td>erudition, resourcefulness, wit</td>
                <td>fear, gentleness</td>
            </tr>   
        </table>
        
    </div>
    <footer>
        <div class="copyright">
            <p>Gottmark - &copy 2020</p>
        </div>
    </footer>
</body>
</html>