<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link  rel = "icon"  type = "image / png"  size = "16x16"  href = "../images/PakuaTitle.png" >
    <title  >Gottig Javier</title>
</head>

<body id="blog">
    <div class="top">
        <div class="container">
            <nav class="mynavg navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Guerrero Mental</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="index-es.html">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="pakua-es.html">Pa-Kua</a></li>
                        <li class="nav-item"><a class="nav-link" href="wuxing-es.html">Wuxing</a></li>
                        <li class="nav-item"><a class="nav-link" href="marcial-es.html">Marcial</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Idiomas
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="wuxing.html">Inglés</a>
                                <a class="dropdown-item" href="#">Español</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        
        
            <div class="me">            
                <img class="img-0" src="../images/fotocurric1.jpg" alt="Foto Javier"> 
                <p class="myblog text-nowrap">Javier Gottig</p>
            </div>
        </div> 
    </div>
    <div>
        <h1>Pa-Kua y Wuxing.</h1>
        <p class="text-center">
            <strong>En el arte marcial, tanto los ocho estados de cambio (Pa-Kua) como los cinco elementos 
                (Wuxing) se utilizan
                como patrones de combate como para perfiles de oponentes. 
            </strong>
        </p>
        <br><br>
        
    <div>
        <h2>Wuxing</h2>
        <p>Wuxing, también conocido como los cinco elementos, cinco agentes, cinco movimientos, 
            cinco fases, cinco planetas, cinco procesos, cinco etapas, cinco pasos o cinco formas, 
            es la forma abreviada de "los cinco tipos de chi que dominan en diferentes momentos ". 
            Es un esquema conceptual quíntuple que muchos campos chinos tradicionales usaron para 
            explicar una amplia gama de fenómenos, desde los ciclos cósmicos hasta la interacción 
            entre los órganos internos, y desde la sucesión de regímenes políticos hasta las propiedades 
            de las drogas medicinales. Las cinco fases son: Fuego, Agua, Madera, Metal y Tierra. 
            Este orden de presentación se conoce como la secuencia "Días de la semana". 
            En el orden de "generación mutua", son Madera, Fuego, Tierra, Metal y Agua. 
            En el orden de "dominación mutua", son Madera, Tierra, Agua, Fuego y Metal.
        </p>
        <p>El sistema de cinco fases se utilizó para describir interacciones y relaciones entre
            fenómenos. Después de que llegó a la madurez en el segundo o primer siglo a.C. durante la
            dinastía Han, este dispositivo fue empleado en muchos campos del pensamiento chino temprano, incluyendo
            campos aparentemente dispares como geomancia o feng shui, astrología, medicina tradicional china,
            música, estrategia militar y artes marciales.
            El sistema todavía se utiliza como referencia en algunas formas de medicina complementaria y alternativa,
            y artes marciales.
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <h4> Ciclos </h4>
            <p>Para recordar el orden, se suele acudir a la siguiente asociación: </p>
            <div class="row">
                <div class="col myborder-table">
                    <h5><u>Generación o Creación</u></h5>
                        <ul>
                            <li>la madera alimenta al fuego</li>
                            <li>el fuego, con sus cenizas, produce tierra</li>
                            <li>la tierra alberga los metales (minerales)</li>
                            <li>los metales (minerales) alimentan al agua</li>
                            <li>el agua da vida a la madera</li>
                        </ul>
                        <p>Otra palabra común para este ciclo incluye "engendra".</p>
                </div>
                <div class="col myborder-table">
                    <h5><u>Dominación o Destrucción</u></h5>
                    <ul>
                        <li>la madera se nutre de la tierra</li>
                        <li>la tierra retiene el agua</li>
                        <li>el agua apaga el fuego</li>
                        <li>el fuego funde el metal</li>
                        <li>el metal corta la madera</li>
                    </ul>
                    <p>Este ciclo también podría llamarse "controles", "restricciones".</p></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table id="xuxing">
            <tr>
                <th>Elemento</th>
                <th>Cualidades Mentales</th>
                <th>Emociones</th>
            </tr>
            <tr>
                <td class="first">Madera</td>
                <td>idealismo, espontaneidad, curiosidad</td>
                <td>ira, amabilidad</td>
                    </tr>
            <tr>
                <td class="first">Fuego</td>
                <td>pasión, intensidad</td>
                <td>odio, resolución</td>
                    </tr>
            <tr>
                <td class="first">Tierra</td>
                <td>amabilidad, honestidad</td>
                <td>ansiedad, alegría</td>
                    </tr>
            <tr>
                <td class="first">Metal</td>
                <td>intuición, racionalidad, mente</td>
                <td>pena, valentía</td>
                    </tr>
            <tr>
                <td class="first">Agua</td>
                <td>erudición, ingenio, agudeza</td>
                <td>miedo, gentileza</td>
                    </tr>   
        </table>                
    </div>
    <footer>
        <div class="copyright">
            <p>Gottmark - &copy 2020</p>
        </div>
    </footer>
</body>
</html>